footer
    .container 
        .row 
            .col-lg-9 
                .navbar-brand.m-0
                    a.d-inline-block(href="#")
                        .d-md-flex.d-block.align-items-center.justify-content-start
                            img(src="assets/img/logo/logo.png" alt="logo")
                            .name 
                                h3.my-0 Бюджетное учреждение Омской области "Комплексный центр социального обслуживания населения Седельниковского района"
            .col-lg-3 
                h3 Социальные сети 
                .social-icon.d-flex.align-items-center 
                    a(href="#")
                        .icon.d-flex.align-items-center.justify-content-center
                            svg(xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none")
                                g(clip-path="url(#clip0_90_150)")
                                    path(d="M16.5387 0.175353L0.591585 6.47016C-0.0501506 6.76328 -0.267208 7.35035 0.436449 7.66893L4.52762 8.99976L14.4194 2.74208C14.9595 2.34922 15.5125 2.45398 15.0367 2.88612L6.54093 10.7601L6.27405 14.0923C6.52125 14.6068 6.97385 14.6092 7.26255 14.3535L9.61303 12.0769L13.6386 15.1625C14.5736 15.7291 15.0823 15.3635 15.2835 14.325L17.9239 1.52713C18.198 0.248818 17.7305 -0.314406 16.5387 0.175353Z" fill="#1C4AFC")
                                defs
                                clipPath(id="clip0_90_150")
                                    rect(width="18" height="15.4286")
                    a(href="#")
                        .icon.d-flex.align-items-center.justify-content-center 
                            svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none")
                                path(d="M1.26525 1.26525C0 2.5305 0 4.56714 0 8.64V9.36C0 13.4329 0 15.4695 1.26525 16.7347C2.5305 18 4.56714 18 8.64 18H9.36C13.4329 18 15.4695 18 16.7347 16.7347C18 15.4695 18 13.4329 18 9.36V8.64C18 4.56714 18 2.5305 16.7347 1.26525C15.4695 0 13.4329 0 9.36 0H8.64C4.56714 0 2.5305 0 1.26525 1.26525ZM3.0375 5.47501H5.09251C5.16001 8.91 6.67499 10.365 7.875 10.665V5.47501H9.81V8.4375C10.995 8.31001 12.24 6.96001 12.66 5.47501H14.595C14.4367 6.24516 14.1212 6.97432 13.6682 7.61701C13.2153 8.25967 12.6346 8.80196 11.9625 9.21001C12.7129 9.58255 13.3757 10.1101 13.9071 10.7579C14.4384 11.4056 14.8263 12.1588 15.045 12.9675H12.915C12.7187 12.265 12.3193 11.6361 11.7669 11.1598C11.2145 10.6834 10.5337 10.3809 9.81 10.29V12.9675H9.57749C5.47501 12.9675 3.135 10.155 3.0375 5.47501Z" fill="#1C4AFC")
                    a(href="#")
                        .icon.d-flex.align-items-center.justify-content-center 
                            svg(xmlns="http://www.w3.org/2000/svg" width="11" height="18" viewBox="0 0 11 18" fill="none")
                                g(clip-path="url(#clip0_90_157)")
                                    path(d="M5.31827 2.7225C6.40039 2.7225 7.28043 3.58518 7.28043 4.64595C7.28043 5.7057 6.40039 6.56858 5.31827 6.56858C4.23718 6.56858 3.3561 5.7057 3.3561 4.64595C3.3561 3.58518 4.23718 2.7225 5.31827 2.7225ZM5.31827 9.29006C7.93229 9.29006 10.0572 7.20707 10.0572 4.64595C10.0572 2.08381 7.93229 0 5.31827 0C2.70487 0 0.579322 2.08381 0.579322 4.64595C0.579322 7.20697 2.70487 9.29006 5.31827 9.29006ZM7.23557 13.0798C8.20032 12.8643 9.13075 12.4902 9.98752 11.9625C10.6359 11.5618 10.8315 10.7215 10.4228 10.0857C10.0146 9.44859 9.15787 9.25702 8.50831 9.65763C6.56722 10.8545 4.06785 10.854 2.12781 9.65763C1.47814 9.25702 0.621471 9.44869 0.213744 10.0857C-0.194923 10.722 -3.14912e-05 11.5618 0.648597 11.9625C1.50526 12.4896 2.43569 12.8643 3.40045 13.0798L0.750947 15.6769C0.209258 16.2084 0.209257 17.07 0.751468 17.6014C1.02283 17.8669 1.37788 17.9999 1.73281 17.9999C2.08837 17.9999 2.44393 17.867 2.7153 17.6014L5.31764 15.0493L7.92228 17.6014C8.46397 18.1329 9.34285 18.1329 9.88496 17.6014C10.4277 17.07 10.4277 16.2078 9.88496 15.6769L7.23557 13.0798Z" fill="#1C4AFC")
                                defs
                                clipPath(id="clip0_90_157")
                                    rect(width="10.6364" height="18")
            hr.border-0
            .col-lg-5 
                h3 Меню
                .footer-menu.d-flex.align-items-center
                    ul.list-group.border-0.list-group-flush
                        li.list-group-item.p-0.border-0: a.nav-link.d-inline(href="#") О центре
                        li.list-group-item.p-0.border-0: a.nav-link.d-inline(href="#") Новости
                        li.list-group-item.p-0.border-0: a.nav-link.d-inline(href="#") Услуги
                        li.list-group-item.p-0.border-0: a.nav-link.d-inline(href="#") Проекты и программы
                    ul.list-group.border-0.list-group-flush.me-0
                        li.list-group-item.p-0.border-0: a.nav-link.d-inline(href="#") Документы
                        li.list-group-item.p-0.border-0: a.nav-link.d-inline(href="#") Качество
                        li.list-group-item.p-0.border-0: a.nav-link.d-inline(href="#") Мероприятия
                        li.list-group-item.p-0.border-0: a.nav-link.d-inline(href="#") Контакты
            .col-lg-4 
                h3 Контакты
                .footer-contact 
                    a.d-block(href="tel:+79131423236") 
                        .item.d-flex.align-items-start
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none")
                                    g(clip-path="url(#clip0_90_126)")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M2.12126 0.57397C2.31812 0.37741 2.55449 0.22493 2.81474 0.126637C3.07498 0.0283424 3.35315 -0.013522 3.63079 0.00381754C3.90843 0.0211571 4.17923 0.0973048 4.42521 0.227214C4.67121 0.357123 4.88678 0.537829 5.05765 0.757354L7.07712 3.35173C7.44727 3.82763 7.57777 4.44754 7.43152 5.03257L6.81611 7.49644C6.78429 7.62405 6.78602 7.75772 6.82111 7.88448C6.8562 8.01123 6.92345 8.12676 7.01637 8.21985L9.78063 10.9841C9.87383 11.0772 9.98954 11.1446 10.1165 11.1797C10.2435 11.2148 10.3774 11.2164 10.5052 11.1844L12.9679 10.569C13.2566 10.4968 13.5579 10.4912 13.8492 10.5526C14.1404 10.614 14.4138 10.7407 14.6488 10.9234L17.2432 12.9416C18.1758 13.6673 18.2613 15.0455 17.4265 15.8792L16.2632 17.0425C15.4307 17.875 14.1864 18.2407 13.0264 17.8323C10.0576 16.7878 7.36207 15.0881 5.13978 12.8595C2.91137 10.6376 1.21177 7.94247 0.167038 4.97406C-0.240232 3.81526 0.125411 2.56982 0.957952 1.73728L2.12126 0.57397Z")
                                    defs
                                        clipPath(id="clip0_90_126")
                                            rect(width="18" height="18")
                            p.mb-0 +7 (913) 142-32-36
                    a.d-block(href="#") 
                        .item.d-flex.align-items-start
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18" fill="none")
                                    g(clip-path="url(#clip0_90_131)")
                                        path(d="M13.5 6.95455C13.5 3.10227 10.489 0 6.75 0C3.01103 0 0 3.10227 0 6.95455C0 10.8068 6.75 18 6.75 18C6.75 18 13.5 10.8068 13.5 6.95455ZM3.60662 6.81818C3.60662 5.04546 5.02941 3.57955 6.75 3.57955C8.47059 3.57955 9.89338 5.01136 9.89338 6.81818C9.89338 8.59091 8.50368 10.0568 6.75 10.0568C5.02941 10.0568 3.60662 8.59091 3.60662 6.81818Z")
                                    defs
                                        clipPath(id="clip0_90_131")
                                            rect(width="13.5" height="18")
                            p.mb-0 646480 Омская обл., с.Седельниково ул.Кропотова, 17
                    a.d-block(href="mailto:rodnik_cso@mtsr.omskportal.ru") 
                        .item.d-flex.align-items-start
                            .icon 
                                svg(xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 18 15" fill="none")
                                    g(clip-path="url(#clip0_90_135)")
                                        path(d="M18 0.648674C17.7389 0.258109 17.2998 0 16.8043 0H1.17721C0.692085 0 0.263114 0.248944 0 0.625908L9.01939 8.30769L18 0.648674Z")
                                        path(d="M0 2.21484V12.9451C0 13.745 0.632931 14.3995 1.40651 14.3995H16.5935C17.3671 14.3995 18 13.745 18 12.9451V2.25353L9.02785 9.99934L0 2.21484Z")
                                    defs
                                        clipPath(id="clip0_90_135")
                                            rect(width="18" height="14.4")
                            p.mb-0 rodnik_cso@mtsr.omskportal.ru
            .col-lg-3 
                .banner-vk 
                    img.w-100.h-auto(src="assets/img/banners/vk.jpg", alt="VK")

    script(src="assets/jquery/jquery.js")
    script(src="assets/owl-carousel/script/owl.carousel.min.js")
    script(src="assets/bootstrap/script/bootstrap.bundle.min.js")
    script(src="assets/script/script.js")
    script(src="assets/wow/wow.min.js")
    script
        |new WOW().init()